<% flash.each do |message_type, message| %>
  <!-- Edited on 2017/06/18 for the 2nd kadai of adding Bootstrap (start) -->
  <!--<div><%= message %></div>-->
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <!-- Edited on 2017/06/18 for the 2nd kadai of adding Bootstrap (end) -->
<% end %>